* {
  /*background-color: #fbe2b4;*/
  font-family: 'Roboto', sans-serif;
}

.baby {
  //border: 1px solid red;
  //padding: 10px;
  font-size: 0.4em;
  overflow: hidden;
}

.pullLeft {
  float: left;
}

.showAll{
  background-color: cyan;
  float: left;
  margin-left: -15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  //border: 2px solid black;
}
/*
.circle {
  width: 70px;
  height: 70px;
  background-color: #ffc33c;
  border-radius: 100%;
  text-align: center;
  line-height: 45px;
  padding: 15px;
  overflow: hidden;
}
.circle div {
  font-size: 0.7em;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.bar {
  margin-bottom: 5px;
  background-color: #59c4c5;
  border: 1px solid black;

}
.gray {
  font-size: 0.5em;
  color: gray;
}

.all {
  background-color: #00c8f8;
}*/
